body {
  font:400 1rem "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height:1.5;
  color:#333;
}

html, body, #map {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#map {
    height: 1000px;
}

 .nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
    color:#1ABC9C;
    background-color:#34495E;
}

.nav-pills > li.active > a:hover {
    background-color: #34495E;
    color:#1ABC9C;
}

.navbar-inverse {
    background-color: #F8F8F8;
    border-color: #E7E7E7;
}
