body {
  font:400 1rem "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height:1.5;
  color:#333;
}
#blockLeft{
  width: 50%;
  vertical-align: top;
  display: inline-block;
  float: left;
}
#blockRight{
  width: 50%;
  vertical-align: top;
  display: inline-block;
  float: left;
}
